@font-face { /*font header*/
    font-family: 'truenosemibold';
    src: url('../font/truenosbd-webfont.woff2') format('woff2'),
         url('../font/truenosbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face { /*font bouton prochainement et footer*/
    font-family: 'montserratmedium';
    src: url('../font/montserrat-medium-webfont.woff2') format('woff2'),
         url('../font/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face { /* font titre La note enchantée*/
    font-family: 'devonshireregular';
    src: url('../font/devonshire-regular-webfont.woff2') format('woff2'),
         url('../font/devonshire-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face { /* font ecriture texte menu la note enchantée*/
    font-family: 'vtcsundaykomixcapsregular';
    src: url('../font/vtcsundaykomixcaps-webfont.woff2') format('woff2'),
         url('../font/vtcsundaykomixcaps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face { /*font titre le chic à la française*/
    font-family: 'croissant_oneregular';
    src: url('../font/croissantone-regular-webfont.woff2') format('woff2'),
         url('../font/croissantone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face { /*font menu le chic à la française*/
    font-family: 'litolandregular';
    src: url('../font/litoland_regular-webfont.woff2') format('woff2'),
         url('../font/litoland_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face { /*font menus le délice des papilles et la palette du goût*/
    font-family: 'mcgannahanregular';
    src: url('../font/mcgarg__-webfont.woff2') format('woff2'),
         url('../font/mcgarg__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face { /*font titre le délice des papilles*/
    font-family: 'dancing_scriptregular';
    src: url('../font/dancingscript-regular-webfont.woff2') format('woff2'),
         url('../font/dancingscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face { /*font titre la palette du goût*/
    font-family: 'kaushan_scriptregular';
    src: url('../font/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../font/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'tex_gyre_heros_cnbold';
    src: url('../font/texgyreheroscn-bold-webfont.woff2') format('woff2'),
         url('../font/texgyreheroscn-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}