footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: $green;
		.legal {
			padding-left: 3%;
		}
		.contact {
			padding-right: 3%;
		}
}

footer p {
    color: $yellow;
	font-family: "montserratmedium" ;
	font-size: 2.5vw;
}
footer a {
	outline: none;
	text-decoration: none;
	color: $yellow;
}
.legal:hover {
	animation: wiggle 80ms infinite;
	animation-timing-function: linear;
}
.contact:hover {
	animation: wiggle 80ms infinite;
	animation-timing-function: linear;
}