header {
	background-color: $green;
	display: flex;
	color: $yellow;
	justify-content: center;
	align-items: center;

	h1 {
		font-family: 'truenosemibold';
		font-size: 5vw;
		letter-spacing: -4px;
	}

	a {
		outline: none;
		text-decoration: none;
		color: $yellow;
	}
}