h3 {
    font-family: 'tex_gyre_heros_cnbold';
    text-align: center;
    font-size: 2vw;
}
.menu4 {
    width: 55%;
    height: auto;
    margin: auto;
    margin-bottom: 25%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    background-color: $bmenu4;
    box-shadow: 10px 10px 20px 10px #d1cfd1;
    h2 {
        background: linear-gradient(to top, $cmenu4 0%, $cmenu4 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
        transition: background-size .5s;
        }
        h2:hover {
            background-size: 100% 100%;
        }
}

.menu4 img {
    width: 35%;
}

.logom4 {
    font-family: 'croissant_oneregular';
    font-size: 2vw;
    background: linear-gradient(to bottom right, #43973D, #BFFF7E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
}
.menu_4 {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    align-items: baseline;
    justify-content: space-between;
    font-family: 'mcgannahanregular';
    h2 {
        text-align: center;
    }
    img {
        width: 25%;
    }
}
.entree4 {
  @include contenu-menu-4;
  line-height: 65px;
  margin-bottom: 8%;
}
.plat4 {
    @include contenu-menu-4;
    line-height: 65px;
    margin-bottom: 8%;
}
.dessert4 {
    @include contenu-menu-4;
    line-height: 65px;
    margin-bottom: 15%;
}

.entreem4 {
    width: 100%;
    color: $cmenu4;
}
.platm4 {
    width: 100%;
    color: $cmenu4;
}
.dessertm4 {
    width: 100%;
    color: $cmenu4;
}

