h3 {
    font-family: 'tex_gyre_heros_cnbold';
    text-align: center;
    font-size: 2vw;
}
.menu3 {
    width: 55%;
    height: auto;
    margin: auto;
    margin-bottom: 25%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    background-color: $bmenu3;
    box-shadow: 10px 10px 20px 10px #d1cfd1;
    h2 {
        background: linear-gradient(to top, $cmenu3 0%, $cmenu3 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
        transition: background-size .5s;
        }
        h2:hover {
            background-size: 100% 100%;
        }
}
.menu3 img {
    width: 30%;
    height: auto;
}

.logom3 {
    font-family: 'dancing_scriptregular';
    font-size: 100px;
    background: linear-gradient(to bottom right, #0837E0, #2494FA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    
}
.menu_3 {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    align-items: baseline;
    justify-content: space-between;
    font-family: 'mcgannahanregular';
    h2 {
        text-align: center;
    }

}
.entree3 {
  @include contenu-menu-3;
  line-height: 65px;
  margin-bottom: 8%;
}
.plat3 {
    @include contenu-menu-3;
    line-height: 65px;
    margin-bottom: 8%;
}
.dessert3 {
    @include contenu-menu-3;
    line-height: 65px;
    margin-bottom: 15%;
}

.entreem3 {
    width: 100%;
    color: $cmenu3;
}
.platm3 {
    width: 100%;
    color: $cmenu3;
}
.dessertm3 {
    width: 100%;
    color: $cmenu3;
}

