h3 {
    font-family: 'tex_gyre_heros_cnbold';
    text-align: center;
    font-size: 2vw;
}
.menu2 {
    width: 55%;
    height: auto;
    margin: auto;
    margin-bottom: 190px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    background-color: $bmenu2;
    box-shadow: 10px 10px 20px 10px #d1cfd1;
    h2 {
        font-size: 20px;
    }
}

.menu2 img {
    width: 30%;

}

.logom2 {
    font-family: 'croissant_oneregular';
    font-size: 2vw;
    background: linear-gradient(to bottom right, #D8862F, #915BFD);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 5%;
    margin-bottom: 5%;
}
.menu_2 {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    align-items: baseline;
    justify-content: space-between;
    font-family: 'litolandregular';
    h2 {
        text-align: center;
    }

}
.entree2 {
  @include contenu-menu-2;
  line-height: 65px;
}
.plat2 {
    @include contenu-menu-2;
    line-height: 65px;
}
.dessert2 {
    @include contenu-menu-2;
    line-height: 65px;
    margin-bottom: 10%;
}

.entreem2 {
    width: 100%;
    color: $cmenu2_1;
    h2 {
        background: linear-gradient(to top, $cmenu2_1 0%, $cmenu2_1 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
        transition: background-size .5s;
        }
        h2:hover {
            background-size: 100% 100%;
        }
}
.platm2 {
    width: 100%;
    color: $cmenu2_2;
    h2 {
        background: linear-gradient(to top, $cmenu2_2 0%, $cmenu2_2 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
        transition: background-size .5s;
        }
        h2:hover {
            background-size: 100% 100%;
        }
}
.dessertm2 {
    width: 100%;
    color: $cmenu2_3;
    h2 {
        background: linear-gradient(to top, $cmenu2_3 0%, $cmenu2_3 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
        transition: background-size .5s;
        }
        h2:hover {
            background-size: 100% 100%;
        }
}

