@mixin bloc-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 28%;
	height: 80vh;
	box-shadow: 10px 10px 20px 10px #d1cfd1;}
	
@mixin bloc-menu-tab {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 85%;
	height: 60vh;
	box-shadow: 10px 10px 20px 10px #d1cfd1;}

@mixin bloc-menu-smart {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 60%;
	box-shadow: 10px 10px 20px 10px #d1cfd1;
}

@mixin contenu-menu {
	padding-left: 7%;
    padding-right: 10%;
    display: flex;
	justify-content: space-between;
	font-family: 'segoe print';
	font-size: 20px;
	line-height: 65px;
    margin-bottom: 8%;
    ul {
		list-style-type: none;
		width: 100%;
	}
	li {
		display: flex;
		justify-content: space-between;
	}
}

@mixin contenu-menu-2 {
	padding-left: 7%;
    padding-right: 10%;
    display: flex;
	justify-content: space-between;
	font-family: 'litolandregular';
	font-size: 15px;
	margin-bottom: 5%;
    ul {
        list-style-type: none;
    }
}

@mixin contenu-menu-3 {
	padding-left: 7%;
    padding-right: 10%;
    display: flex;
	justify-content: space-between;
	font-family: 'mcgannahanregular';
	font-size: 20px;
    ul {
        list-style-type: none;
    }
}

@mixin contenu-menu-4 {
	padding-left: 7%;
    padding-right: 10%;
    display: flex;
	justify-content: space-between;
	font-family: 'mcgannahanregular';
	font-size: 20px;
    ul {
        list-style-type: none;
    }
}

@mixin trait {
    content:"";
    position:absolute;
    left:0;
    border-bottom:3px solid ;
    width:0%;
    background:currentColor;
    transition:0.5s;
    bottom:5px;
}

@mixin contenu-menu-tab {
	padding-left: 7%;
    padding-right: 10%;
    display: flex;
	justify-content: space-between;
	font-family: 'segoe print';
	line-height: 25px;
    ul {
		list-style-type: none;
		width: 100%;
	}
	li {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}
 