@media #{$smartphone} { //affichage smartphone
    header h1 {
        font-size: 3.2rem;
    }
    .menu1-prev{
       @include bloc-menu-tab;
       margin: 5% auto;
   }
   .menu2-prev{
       @include bloc-menu-tab;
       margin: 5% auto;
   }
   .menu3-prev{
       @include bloc-menu-tab;
       margin: 5% auto;
   }
   .menu4-prev{
       @include bloc-menu-tab;
       margin: 5% auto;
       h2 {
           padding: 0 1% 0 1%;
       }
   }
   .btn {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 50%;
       border-radius: 25px;
       background-color: $green;
       margin-bottom: 25%;
       p {
           color: $yellow;
           font-size: 4.08vw;
           font-family: 'montserratmedium';
       }
   }
   .one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
    font-size: 4.08vw;
    color: $yellow;
}

.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
      animation: dot 1.3s infinite;
      animation-delay: 0.2s;
      font-size: 4.08vw;
      color: $yellow;
}

.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
     animation: dot 1.3s infinite;
     animation-delay: 0.3s;
     font-size: 4.08vw;
     color: $yellow;
}

   // affichage menu la note enchantée
   h3 {
    font-size: 4vw;
}
.menu1 {
    width: 95%;
    h2 {
        font-size: 4vw;
    }
}
.logom1 {
    font-size: 9vw;
    line-height: 10px;
}
.entree {
    @include contenu-menu-smart;
    line-height: 40px;
}
.plat {
    @include contenu-menu-smart;
    line-height: 40px;
}
.dessert {
    @include contenu-menu-smart;
    line-height: 40px;
}
.logo_bas {
    font-size: 7vw;
    img {
        width: 8%;
        margin-right: 2%;
    }
}

// affichage menu le chic a la française

.menu2 {
    width: 95%;
    h2 {
        font-size: 3vw;
        text-align: center;
    }
}
.logom2 {
    font-size: 6vw;
    line-height: 10px;
}
.entree2 {
    @include contenu-menu-smart-2;
    line-height: 40px;
    font-size: 4vw;
}
.plat2 {
    @include contenu-menu-smart-2;
    line-height: 40px;
    font-size: 4vw;
}
.dessert2 {
    @include contenu-menu-smart-2;
    line-height: 40px;
    font-size: 4vw;
}

// affichage menu le délice des papilles

.menu3 {
    width: 95%;
    h2 {
        font-size: 5vw;
        text-align: center;
    }
}
.logom3 {
    font-size: 6vw;
    line-height: 10px;
}
.entree3 {
    @include contenu-menu-smart-3;
    line-height: 40px;
    font-size: 5vw;
}
.plat3 {
    @include contenu-menu-smart-3;
    line-height: 40px;
    font-size: 5vw;
}
.dessert3 {
    @include contenu-menu-smart-3;
    font-size: 5vw;
}

// affichage menu la palette du gout

.menu4 {
    width: 95%;
    h2 {
        font-size: 6vw;
        text-align: center;
    }
}
.logom4 {
    font-size: 6vw;
    line-height: 10px;
}
.entree4 {
    @include contenu-menu-smart-4;
    line-height: 40px;
    font-size: 5vw;
}
.plat4 {
    @include contenu-menu-smart-4;
    line-height: 40px;
    font-size: 5vw;
}
.dessert4 {
    @include contenu-menu-smart-4;
    font-size: 5vw;
}
}