@media #{$tablet} { //affichage version tablette
    header h1 {
        font-size: 3.2rem;
    }
    
    .menu1-prev{
        @include bloc-menu-tab;
        margin: 5% auto;
    }
    .menu2-prev{
        @include bloc-menu-tab;
        margin: 5% auto;
    }
    .menu3-prev{
        @include bloc-menu-tab;
        margin: 5% auto;
    }
    .menu4-prev{
        @include bloc-menu-tab;
        margin: 5% auto;
    }
    
    footer {
        height: 10%;
    }
    
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        border-radius: 25px;
        background-color: $green;
        margin-bottom: 20%;
        p {
            color: $yellow;
            font-size: 4.08vw;
            font-family: 'montserratmedium';
        }
    }
    
    .one {
        opacity: 0;
        -webkit-animation: dot 1.3s infinite;
        -webkit-animation-delay: 0.0s;
        animation: dot 1.3s infinite;
        animation-delay: 0.0s;
        font-size: 4.08vw;
        color: $yellow;
    }
    
    .two {
        opacity: 0;
        -webkit-animation: dot 1.3s infinite;
        -webkit-animation-delay: 0.2s;
          animation: dot 1.3s infinite;
          animation-delay: 0.2s;
          font-size: 4.08vw;
          color: $yellow;
    }
    
    .three {
        opacity: 0;
        -webkit-animation: dot 1.3s infinite;
        -webkit-animation-delay: 0.3s;
         animation: dot 1.3s infinite;
         animation-delay: 0.3s;
         font-size: 4.08vw;
         color: $yellow;
    }

    // affichage page menu la note enchantee 
    h3 {
        font-size: 4vw;
    }
    .menu1 {
        width: 95%;
        h2 {
            font-size: 4vw;
        }
    }
    .logom1 {
        font-size: 9vw;
        line-height: 10px;
    }
    .entree {
        @include contenu-menu-tab;
        p {
            font-size: 4vw;
            line-height: 40px;
        }
    }
    .plat {
        @include contenu-menu-tab;
        p {
            font-size: 4vw;
            line-height: 40px;
        }
    }
    .dessert {
        @include contenu-menu-tab;
        line-height: 65px;
        font-size: 4vw;
    }
    .logo_bas {
        font-size: 7vw;
        img {
            width: 8%;
            margin-right: 2%;
        }
    }
    // affichage menu le chic a la française
    .menu2 {
        width: 95%;
        h2 {
            font-size: 4vw;
        }
    }
    .logom2 {
        font-size: 6vw;
        line-height: 10px;
    }
    .entree2 {
        @include contenu-menu-tab-2;
        p {
            font-size: 3vw;
            line-height: 40px;
        }
    }
    .plat2 {
        @include contenu-menu-tab-2;
        p {
            font-size: 3vw;
            line-height: 40px;
        }
    }
    .dessert2 {
        @include contenu-menu-tab-2;
        line-height: 65px;
        font-size: 3vw;
    }

    // affichage menu le délice des papilles
    .menu3 {
        width: 95%;
        h2 {
            font-size: 4vw;
        }
    }
    .logom3 {
        font-size: 6vw;
        line-height: 10px;
    }
    .entree3 {
        @include contenu-menu-tab-3;
        p {
            font-size: 4vw;
            line-height: 40px;
        }
    }
    .plat3 {
        @include contenu-menu-tab-3;
        p {
            font-size: 4vw;
            line-height: 40px;
        }
    }
    .dessert3 {
        @include contenu-menu-tab-3;
        line-height: 65px;
        font-size: 4vw;
    }

    // affichage menu la palette du gout
    .menu4 {
        width: 95%;
        h2 {
            font-size: 4vw;
        }
    }
    .logom4 {
        font-size: 6vw;
        line-height: 10px;
    }
    .entree4 {
        @include contenu-menu-tab-4;
        p {
            font-size: 4vw;
            line-height: 40px;
        }
    }
    .plat4 {
        @include contenu-menu-tab-4;
        p {
            font-size: 4vw;
            line-height: 40px;
        }
    }
    .dessert4 {
        @include contenu-menu-tab-4;
        line-height: 65px;
        font-size: 4vw;
    }

    // affichage page mentions légales

.mention {
    font-size: 2rem;
}
    }