$green: #579c87; // background header, footer & button
$yellow: #fdcb46; // font header, footer & button
$bmenu1: #fcdfdb; // background menu la note enchantée
$bmenu2: #fff5fe; // background menu le chic à la française
$bmenu3: #f9f9f9; // background menu le délice des papilles
$bmenu4: #fdfffd; // background menu la palette du goût
$fmenu1: #3c1218; // font menu la note enchantée
$fmenu2: #c77412; // font menu le chic à la française
$fmenu3: #0887fb; // font menu le délice des papilles
$fmenu4: #75c05a; // font menu la palette du goût
$gmenu2_1: #d8852e; // dégradé titre menu 2
$gmenu2_2: #905bfd; // dégradé titre menu 2
$gmenu3_1: #0836e0; // dégradé titre menu 3
$gmenu3_2: #2494fa; // dégradé titre menu 3
$gemenu4_1: #42973c; // dégradé titre menu 4
$gmenu4_2: #bfff7e; // dégradé titre menu 4
$cmenu1: #3c1218; // contenu menu 1
$cmenu2_1: #c67412; // contenu menu 2 partie 1
$cmenu2_2: #a56799; // contenu menu 2 partie 2
$cmenu2_3: #6e4ccc; // contenu menu 2 partie 3
$cmenu3: #181919; // contenu menu 3
$cmenu4: #232323; // contenu menu 4
$tablet: "all and (min-width: 600px) and (max-width: 1024px)";
$smartphone: "all and (min-width: 200px) and (max-width: 599px)";