@charset "UTF-8";
@font-face {
  /*font header*/
  font-family: 'truenosemibold';
  src: url("../font/truenosbd-webfont.woff2") format("woff2"), url("../font/truenosbd-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /*font bouton prochainement et footer*/
  font-family: 'montserratmedium';
  src: url("../font/montserrat-medium-webfont.woff2") format("woff2"), url("../font/montserrat-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* font titre La note enchantée*/
  font-family: 'devonshireregular';
  src: url("../font/devonshire-regular-webfont.woff2") format("woff2"), url("../font/devonshire-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* font ecriture texte menu la note enchantée*/
  font-family: 'vtcsundaykomixcapsregular';
  src: url("../font/vtcsundaykomixcaps-webfont.woff2") format("woff2"), url("../font/vtcsundaykomixcaps-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /*font titre le chic à la française*/
  font-family: 'croissant_oneregular';
  src: url("../font/croissantone-regular-webfont.woff2") format("woff2"), url("../font/croissantone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /*font menu le chic à la française*/
  font-family: 'litolandregular';
  src: url("../font/litoland_regular-webfont.woff2") format("woff2"), url("../font/litoland_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /*font menus le délice des papilles et la palette du goût*/
  font-family: 'mcgannahanregular';
  src: url("../font/mcgarg__-webfont.woff2") format("woff2"), url("../font/mcgarg__-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /*font titre le délice des papilles*/
  font-family: 'dancing_scriptregular';
  src: url("../font/dancingscript-regular-webfont.woff2") format("woff2"), url("../font/dancingscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /*font titre la palette du goût*/
  font-family: 'kaushan_scriptregular';
  src: url("../font/kaushanscript-regular-webfont.woff2") format("woff2"), url("../font/kaushanscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tex_gyre_heros_cnbold';
  src: url("../font/texgyreheroscn-bold-webfont.woff2") format("woff2"), url("../font/texgyreheroscn-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@keyframes wiggle {
  /*animation footer*/
  0% {
    transform: translate(2px, 0);
  }
  50% {
    transform: translate(-9px, 0);
  }
  100% {
    transform: translate(2px, 0);
  }
}

@keyframes dot {
  /*animation prochainement*/
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  background-color: #579c87;
  display: flex;
  color: #fdcb46;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-family: 'truenosemibold';
  font-size: 5vw;
  letter-spacing: -4px;
}

header a {
  outline: none;
  text-decoration: none;
  color: #fdcb46;
}

body {
  margin: 0;
}

.index {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: auto;
}

.menu1-prev {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 28%;
  height: 80vh;
  box-shadow: 10px 10px 20px 10px #d1cfd1;
  margin: 5%;
  background-color: #fcdfdb;
}

.menu1-prev h2 {
  font-family: 'devonshireregular';
  font-size: 50px;
  color: #3c1218;
  line-height: 1px;
}

.menu1-prev p {
  font-family: 'vtcsundaykomixcapsregular';
  font-size: 70px;
  color: #3c1218;
}

.menu1-prev a {
  outline: none;
  text-decoration: none;
  transition: 500ms ease-in-out;
}

.menu1-prev a:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

.menu2-prev {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 28%;
  height: 80vh;
  box-shadow: 10px 10px 20px 10px #d1cfd1;
  margin: 5% 5% 5% 0;
  background-color: #fff5fe;
}

.menu2-prev h2 {
  font-family: 'croissant_oneregular';
  background: linear-gradient(to bottom right, #D8862F, #915BFD);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 35px;
}

.menu2-prev p {
  font-family: 'litolandregular';
  font-size: 45px;
  color: #c77412;
}

.menu2-prev a {
  outline: none;
  text-decoration: none;
  transition: 500ms ease-in-out;
}

.menu2-prev a:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

/* le délice des papilles*/
.menu3-prev {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 28%;
  height: 80vh;
  box-shadow: 10px 10px 20px 10px #d1cfd1;
  margin: 0 5% 5% 5%;
  background-color: #f9f9f9;
}

.menu3-prev h2 {
  font-family: 'dancing_scriptregular';
  background: linear-gradient(to bottom right, #0837E0, #2494FA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  padding-left: 5px;
}

.menu3-prev p {
  font-family: 'mcgannahanregular';
  color: #0887fb;
  font-size: 55px;
}

.menu3-prev a {
  outline: none;
  text-decoration: none;
  transition: 500ms ease-in-out;
}

.menu3-prev a:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

/* la palette du goût*/
.menu4-prev {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 28%;
  height: 80vh;
  box-shadow: 10px 10px 20px 10px #d1cfd1;
  margin: 0 5% 5% 0%;
  background-color: #fdfffd;
}

.menu4-prev h2 {
  font-family: 'kaushan_scriptregular';
  font-size: 4rem;
  background: linear-gradient(to bottom right, #43973D, #BFFF7E);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-right: 10px;
}

.menu4-prev p {
  font-family: 'mcgannahanregular';
  font-size: 50px;
  color: #75c05a;
}

.menu4-prev a {
  outline: none;
  text-decoration: none;
  transition: 500ms ease-in-out;
}

.menu4-prev a:hover {
  transform: scale(1.1);
  opacity: 0.5;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34%;
  border-radius: 25px;
  background-color: #579c87;
  margin-bottom: 20%;
}

.btn p {
  color: #fdcb46;
  font-size: 2.08vw;
  font-family: 'montserratmedium';
}

.one {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.0s;
  animation: dot 1.3s infinite;
  animation-delay: 0.0s;
  font-size: 2.08vw;
  color: #fdcb46;
}

.two {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.2s;
  animation: dot 1.3s infinite;
  animation-delay: 0.2s;
  font-size: 2.08vw;
  color: #fdcb46;
}

.three {
  opacity: 0;
  -webkit-animation: dot 1.3s infinite;
  -webkit-animation-delay: 0.3s;
  animation: dot 1.3s infinite;
  animation-delay: 0.3s;
  font-size: 2.08vw;
  color: #fdcb46;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 14%;
  background: #579c87;
}

footer .legal {
  padding-left: 3%;
}

footer .contact {
  padding-right: 3%;
}

footer p {
  color: #fdcb46;
  font-family: "montserratmedium";
  font-size: 2.5vw;
}

footer a {
  outline: none;
  text-decoration: none;
  color: #fdcb46;
}

.legal:hover {
  animation: wiggle 80ms infinite;
  animation-timing-function: linear;
}

.contact:hover {
  animation: wiggle 80ms infinite;
  animation-timing-function: linear;
}

h3 {
  font-family: 'tex_gyre_heros_cnbold';
  text-align: center;
  font-size: 2vw;
}

.menu1 {
  width: 55%;
  height: auto;
  margin: auto;
  margin-bottom: 190px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  background-color: #fcdfdb;
  box-shadow: 10px 10px 20px 10px #d1cfd1;
}

.menu1 h2 {
  font-size: 20px;
  background: linear-gradient(to top, #3c1218 0%, #3c1218 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size .5s;
}

.menu1 h2:hover {
  background-size: 100% 100%;
}

.logom1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'devonshireregular';
  font-size: 3vw;
  margin-top: 5%;
}

.menu_1 {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  align-items: baseline;
  justify-content: space-between;
  font-family: 'Segoe Print';
}

.menu_1 h2 {
  text-align: center;
  padding: 0 5% 0 5%;
}

.entree {
  padding-left: 7%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  font-family: 'segoe print';
  font-size: 20px;
  line-height: 65px;
  margin-bottom: 8%;
}

.entree ul {
  list-style-type: none;
  width: 100%;
}

.entree li {
  display: flex;
  justify-content: space-between;
}

.plat {
  padding-left: 7%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  font-family: 'segoe print';
  font-size: 20px;
  line-height: 65px;
  margin-bottom: 8%;
}

.plat ul {
  list-style-type: none;
  width: 100%;
}

.plat li {
  display: flex;
  justify-content: space-between;
}

.dessert {
  padding-left: 7%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  font-family: 'segoe print';
  font-size: 20px;
  line-height: 65px;
  margin-bottom: 8%;
}

.dessert ul {
  list-style-type: none;
  width: 100%;
}

.dessert li {
  display: flex;
  justify-content: space-between;
}

.entreem1 {
  width: 100%;
}

.platm1 {
  width: 100%;
}

.dessertm1 {
  width: 100%;
}

.logo_bas {
  width: 100%;
  font-family: 'devonshireregular';
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.logo_bas img {
  width: 5%;
  margin-right: 1%;
  height: auto;
}

h3 {
  font-family: 'tex_gyre_heros_cnbold';
  text-align: center;
  font-size: 2vw;
}

.menu2 {
  width: 55%;
  height: auto;
  margin: auto;
  margin-bottom: 190px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  background-color: #fff5fe;
  box-shadow: 10px 10px 20px 10px #d1cfd1;
}

.menu2 h2 {
  font-size: 20px;
}

.menu2 img {
  width: 30%;
}

.logom2 {
  font-family: 'croissant_oneregular';
  font-size: 2vw;
  background: linear-gradient(to bottom right, #D8862F, #915BFD);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 5%;
  margin-bottom: 5%;
}

.menu_2 {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  align-items: baseline;
  justify-content: space-between;
  font-family: 'litolandregular';
}

.entree2 {
  padding-left: 7%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  font-family: 'litolandregular';
  font-size: 15px;
  margin-bottom: 5%;
  line-height: 65px;
}

.entree2 ul {
  list-style-type: none;
}

.plat2 {
  padding-left: 7%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  font-family: 'litolandregular';
  font-size: 15px;
  margin-bottom: 5%;
  line-height: 65px;
}

.plat2 ul {
  list-style-type: none;
}

.dessert2 {
  padding-left: 7%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  font-family: 'litolandregular';
  font-size: 15px;
  margin-bottom: 5%;
  line-height: 65px;
  margin-bottom: 10%;
}

.dessert2 ul {
  list-style-type: none;
}

.entreem2 {
  width: 100%;
  color: #c67412;
}

.entreem2 h2 {
  background: linear-gradient(to top, #c67412 0%, #c67412 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size .5s;
}

.entreem2 h2:hover {
  background-size: 100% 100%;
}

.platm2 {
  width: 100%;
  color: #a56799;
}

.platm2 h2 {
  background: linear-gradient(to top, #a56799 0%, #a56799 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size .5s;
}

.platm2 h2:hover {
  background-size: 100% 100%;
}

.dessertm2 {
  width: 100%;
  color: #6e4ccc;
}

.dessertm2 h2 {
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size .5s;
}

.dessertm2 h2:hover {
  background-size: 100% 100%;
}

h3 {
  font-family: 'tex_gyre_heros_cnbold';
  text-align: center;
  font-size: 2vw;
}

.menu3 {
  width: 55%;
  height: auto;
  margin: auto;
  margin-bottom: 190px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  background-color: #f9f9f9;
  box-shadow: 10px 10px 20px 10px #d1cfd1;
}

.menu3 h2 {
  background: linear-gradient(to top, #181919 0%, #181919 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size .5s;
}

.menu3 h2:hover {
  background-size: 100% 100%;
}

.menu3 img {
  width: 30%;
  height: auto;
}

.logom3 {
  font-family: 'dancing_scriptregular';
  font-size: 100px;
  background: linear-gradient(to bottom right, #0837E0, #2494FA);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 5%;
  margin-bottom: 5%;
}

.menu_3 {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  align-items: baseline;
  justify-content: space-between;
  font-family: 'mcgannahanregular';
}

.entree3 {
  padding-left: 7%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  font-family: 'mcgannahanregular';
  font-size: 20px;
  line-height: 65px;
  margin-bottom: 8%;
}

.entree3 ul {
  list-style-type: none;
}

.plat3 {
  padding-left: 7%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  font-family: 'mcgannahanregular';
  font-size: 20px;
  line-height: 65px;
  margin-bottom: 8%;
}

.plat3 ul {
  list-style-type: none;
}

.dessert3 {
  padding-left: 7%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  font-family: 'mcgannahanregular';
  font-size: 20px;
  line-height: 65px;
  margin-bottom: 15%;
}

.dessert3 ul {
  list-style-type: none;
}

.entreem3 {
  width: 100%;
  color: #181919;
}

.platm3 {
  width: 100%;
  color: #181919;
}

.dessertm3 {
  width: 100%;
  color: #181919;
}

h3 {
  font-family: 'tex_gyre_heros_cnbold';
  text-align: center;
  font-size: 2vw;
}

.menu4 {
  width: 55%;
  height: auto;
  margin: auto;
  margin-bottom: 190px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  background-color: #fdfffd;
  box-shadow: 10px 10px 20px 10px #d1cfd1;
}

.menu4 h2 {
  background: linear-gradient(to top, #232323 0%, #232323 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size .5s;
}

.menu4 h2:hover {
  background-size: 100% 100%;
}

.menu4 img {
  width: 35%;
}

.logom4 {
  font-family: 'croissant_oneregular';
  font-size: 2vw;
  background: linear-gradient(to bottom right, #43973D, #BFFF7E);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
}

.menu_4 {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  align-items: baseline;
  justify-content: space-between;
  font-family: 'mcgannahanregular';
}

.entree4 {
  padding-left: 7%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  font-family: 'mcgannahanregular';
  font-size: 20px;
  line-height: 65px;
  margin-bottom: 8%;
}

.entree4 ul {
  list-style-type: none;
}

.plat4 {
  padding-left: 7%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  font-family: 'mcgannahanregular';
  font-size: 20px;
  line-height: 65px;
  margin-bottom: 8%;
}

.plat4 ul {
  list-style-type: none;
}

.dessert4 {
  padding-left: 7%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  font-family: 'mcgannahanregular';
  font-size: 20px;
  line-height: 65px;
  margin-bottom: 15%;
}

.dessert4 ul {
  list-style-type: none;
}

.entreem4 {
  width: 100%;
  color: #232323;
}

.platm4 {
  width: 100%;
  color: #232323;
}

.dessertm4 {
  width: 100%;
  color: #232323;
}

.mention {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 15%;
}

@media all and (min-width: 600px) and (max-width: 1024px) {
  header h1 {
    font-size: 3.2rem;
  }
  .menu1-prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 85%;
    height: 60vh;
    box-shadow: 10px 10px 20px 10px #d1cfd1;
    margin: 5% auto;
  }
  .menu2-prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 85%;
    height: 60vh;
    box-shadow: 10px 10px 20px 10px #d1cfd1;
    margin: 5% auto;
  }
  .menu3-prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 85%;
    height: 60vh;
    box-shadow: 10px 10px 20px 10px #d1cfd1;
    margin: 5% auto;
  }
  .menu4-prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 85%;
    height: 60vh;
    box-shadow: 10px 10px 20px 10px #d1cfd1;
    margin: 5% auto;
  }
  footer {
    height: 10%;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 25px;
    background-color: #579c87;
    margin-bottom: 20%;
  }
  .btn p {
    color: #fdcb46;
    font-size: 4.08vw;
    font-family: 'montserratmedium';
  }
  .one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
    font-size: 4.08vw;
    color: #fdcb46;
  }
  .two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
    font-size: 4.08vw;
    color: #fdcb46;
  }
  .three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
    font-size: 4.08vw;
    color: #fdcb46;
  }
  h3 {
    font-size: 4vw;
  }
  .menu1 {
    width: 95%;
  }
  .logom1 {
    font-size: 9vw;
    line-height: 10px;
  }
  .entree {
    padding-left: 7%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    font-family: 'segoe print';
    line-height: 25px;
  }
  .entree ul {
    list-style-type: none;
    width: 100%;
  }
  .entree li {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .plat {
    padding-left: 7%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    font-family: 'segoe print';
    line-height: 25px;
  }
  .plat ul {
    list-style-type: none;
    width: 100%;
  }
  .plat li {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .dessert {
    padding-left: 7%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    font-family: 'segoe print';
    line-height: 25px;
    line-height: 65px;
  }
  .dessert ul {
    list-style-type: none;
    width: 100%;
  }
  .dessert li {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .logo_bas {
    font-size: 7vw;
  }
  .logo_bas img {
    width: 8%;
    margin-right: 2%;
  }
}

@media all and (min-width: 200px) and (max-width: 599px) {
  header h1 {
    font-size: 3.2rem;
  }
  .menu1-prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 85%;
    height: 60vh;
    box-shadow: 10px 10px 20px 10px #d1cfd1;
    margin: 5% auto;
  }
  .menu2-prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 85%;
    height: 60vh;
    box-shadow: 10px 10px 20px 10px #d1cfd1;
    margin: 5% auto;
  }
  .menu3-prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 85%;
    height: 60vh;
    box-shadow: 10px 10px 20px 10px #d1cfd1;
    margin: 5% auto;
  }
  .menu4-prev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 85%;
    height: 60vh;
    box-shadow: 10px 10px 20px 10px #d1cfd1;
    margin: 5% auto;
  }
  .menu4-prev h2 {
    padding: 0 1% 0 1%;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-radius: 25px;
    background-color: #579c87;
    margin-bottom: 25%;
  }
  .btn p {
    color: #fdcb46;
    font-size: 4.08vw;
    font-family: 'montserratmedium';
  }
  .one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
    font-size: 4.08vw;
    color: #fdcb46;
  }
  .two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 1.3s infinite;
    animation-delay: 0.2s;
    font-size: 4.08vw;
    color: #fdcb46;
  }
  .three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
    animation: dot 1.3s infinite;
    animation-delay: 0.3s;
    font-size: 4.08vw;
    color: #fdcb46;
  }
  footer {
    height: 5%;
  }
}
/*# sourceMappingURL=main.css.map */